@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-overlay {
  background: linear-gradient(180deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 100%);
  transform: translateY(-100%);
  transition: transform 0.5s ease-out, opacity 1s ease-out;
  opacity: 0;
}

.relative:hover .gradient-overlay {
  transform: translateY(0);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a8ff35;
  border-radius: 0px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}